<template>
  <span class="task">
    <template v-if="selectedEdit != index">
      <span>{{ task }}</span>
      <span class="buttons">
        <button @click="editTask">Edit</button>
        <button @click="deleteTask">Delete</button>
      </span>
    </template>
    <template v-else>
      <input type="text" @keyup.enter="submitEdit" v-model="currentTask">
      <span class="buttons">
        <button @click="submitEdit">Submit</button>
      </span>
    </template>
  </span>
</template>

<script>
export default {
  name: 'Task',
  props: {
    index: {
      required: true,
      type: Number
    },
    task: {
      required: true,
      type: String
    },
    selectedEdit: {
      required: true
    }
  },
  data() {
    return {
      currentTask: ''
    };
  },
  methods: {
    editTask: function() {
      const { index } = this.$props;
      this.$emit('edit', { index });
    },
    deleteTask: function() {
      const { index } = this.$props;
      this.$emit('delete', { index });
    },
    submitEdit: function() {
      const { index } = this.$props;
      const task = this.currentTask;
      this.$emit('submit', { index, task });
    }
  },
  mounted() {
    this.currentTask = this.$props.task;
  }
};
</script>

<style scoped>
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
.task > span {
  word-break: break-all;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttons > button {
  margin-left: 5px;
  white-space: pre;
}
</style>
