<template>
  <div class="task-container">
    <h1>{{ msg }}</h1>
    <input type="text" @keyup.enter="addTask" placeholder="Enter New Task...">
    <div class="tasks">
      <Task
        v-for="(task, index) in tasks"
        :key="index"
        :index="index"
        :task="task"
        :selectedEdit="selectedEdit"
        @edit="editTask"
        @delete="deleteTask"
        @submit="submitEdit"
      />
    </div>
  </div>
</template>

<script>
import Task from './Task';
import serialize from 'serialize-javascript';

export default {
  name: 'Tasks',
  props: ['msg'],
  components: {
    Task
  },
  data() {
    return {
      tasks: [],
      selectedEdit: undefined // Index
    };
  },
  methods: {
    addTask(e) {
      this.tasks.push(e.target.value);
      e.target.value = '';
    },
    deleteTask({ index }) {
      this.tasks.splice(index, 1);
    },
    editTask({ index }) {
      this.selectedEdit = index;
    },
    submitEdit({ index, task }) {
      this.tasks[index] = task;
      this.selectedEdit = undefined;
    }
  },
  watch: {
    tasks: function(val) {
      localStorage.setItem('tasks', serialize(val, { isJSON: true }));
    }
  },
  mounted() {
    const storedTasks = JSON.parse(localStorage.getItem('tasks'));
    this.tasks = storedTasks || [];
  }
};
</script>

<style scoped>
.task-container {
  width: 100%;
}
.tasks {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 10px;
}
</style>
