<template>
  <div id="app">
    <img src="./assets/logo.png">
    <Tasks :msg="msg"/>
  </div>
</template>

<script>
import Tasks from './components/Tasks';

export default {
  name: 'app',
  components: {
    Tasks
  },
  data() {
    return {
      msg: 'Vue.js Task App'
    };
  }
};
</script>

<style>
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img {
  width: 100px;
  height: auto;
}
h1,
h2 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
}
ul {
  list-style-position: inside;
}
a {
  color: #42b983;
}
input {
  width: 300px;
  height: 30px;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.5);
}
button {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0px;
  background-color: #42b983;
  color: #eee;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
button:hover {
  background-color: #49d178;
}
</style>
